body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dashboard {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.searchform {
  margin: 25px;
}

.ticketsContainer {
  padding-top: 5px;	
  margin: 15px;
  font-size: 8pt;
}

.headerColumnTableText {
  width: 200px;
  padding-top: 15px;
  font-size: 1.1rem;
}

.sortColumntableIcons {
	margin-left: 10px;
	width: 44px;
  height: 70px;
}

#upSortTableIcon {
  height: 26px;
  width: 26px;
}

#upSortTableIcon:hover {
  height: 38px;
  width: 38px;
}

#downSortTableIcon {	
  height: 26px;
  width: 26px;
}

#downSortTableIcon:hover {
  height: 38px;
  width: 38px;
}

.tableHeaders {
  display: inline-flex;
  text-align: center;
}

.headerColumnTable {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #737373; 
}

.headerColumnTableCustom {
  display: inline-flex;
  flex-grow: 1;
  padding-left: 5px;
  width: 100%;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableTitle {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 20px;
  width: 300px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableId {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 20px;
  width: 85px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableDescription {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 20px;
  width: 400px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.highlightColumnDesc {
  background-color: #75514c; 
}

.highlightColumnAsc {
  background-color: #587557; 
}
