body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dashboard {
  width: 100%;
  padding-bottom: 30px;
}

.searchform {
  padding-top: 11px;
  border-bottom: solid 3px gray;
  margin-left: 1px;
  background: #f2f2f2;
}

.searchformButtons {
  display: inline-flex;
}

.dividerButtons{
    width:5px;
    height:auto;
    display:inline-block;
}

.searchDropDownDiv{
  width: 24%;
  display: inline-flex;
}

.datePickersDiv{
  display: inline-flex;
  padding-left: 12px;
}

.datePickerDiv{
  display: inline-flex;
  width: 230px;
}

.datePickerDivText{
  display: inline-flex;
  padding-top: 8px;
  width: 68px;
}

.datePickerDiv #init_date{
  padding-left: 8px;
  width: 160px;
}

.datePickerDiv #end_date{
  padding-left: 8px;
  width: 160px;
}

.searchDropDownDivText{
  display: inline-block;
  width: 45%;
  margin-left: 25px;
  margin-top: 7px;

}

.datePickersDiv .col-sm-6{
  padding-left: 1px;
  padding-right: 1px;
}

.dropdown .dropdown-menu .dropdownItem:hover{
  cursor: pointer;
  background: gray;
}

.loadingLogo{
  display: inline-flex;
  padding-left: 30px;
  height: 35px;
  width: 38px;
}

.nonVisibleLogo{
  display: none;
}

.ticketsContainer {
  padding-top: 5px;	
  margin: 15px;
  font-size: 0.65rem;
}

.headerColumnTableText {
  width: 180px;
  padding-top: 10px;
  font-size: 1.1rem;
}

.sortColumntableIcons {
	margin-left: 10px;
	width: 44px;
}

#upSortTableIcon {
  height: 26px;
  width: 26px;
}

#upSortTableIcon:hover {
  height: 32px;
  width: 32px;
}

#downSortTableIcon {	
  height: 26px;
  width: 26px;
}

#downSortTableIcon:hover {
  height: 32px;
  width: 32px;
}

.tableHeaders {
  display: inline-flex;
  text-align: center;
}

.headerColumnTable {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #737373; 
}

.headerColumnTableCustom {
  display: inline-flex;
  flex-grow: 1;
  padding-left: 5px;
  width: 100%;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableTitle {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 20px;
  width: 280px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableId {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 20px;
  width: 85px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableUserId {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 2px;
  width: 115px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableStatusId {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 2px;
  width: 130px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableAssignedToId {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 1px;
  padding-left: 2px;
  width: 180px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableTicketFormId {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 1px;
  padding-left: 2px;
  width: 180px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.headerColumnTableDescription {
  display: inline-flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 70px;
  width: 450px;
  border-right: 2px solid #737373;
  padding-right: 5px;
}

.highlightColumnDesc {
  background-color: #75514c; 
}

.highlightColumnAsc {
  background-color: #587557; 
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.rowTable {
  text-align: left;
}

.tableAll {
  overflow-x:auto;
}
